<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha348-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>All Pokemon</title>
</head>
<body>
    <div class="container">
        <h1>Every Pokemon</h1>
        <a href="/pokemon/new">Create</a>
        <table class="col-md-9">
            <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for poke in pokemon %}
                <!-- So since u used poke as the iterator you use {{poke.id}} -->
                <tr>
                    <td>{{poke.name}}</td>
                    <td>{{poke.type}}</td>
                    <td><a href="/pokemon/{{poke.id}}">One Pokemon</a> | <a href="/pokemon/edit/{{poke.id}}">Edit Pokemon</a> | <a href="/pokemon/{{poke.id}}/delete">Delete</a></td>
                    <!-- Whatever you are passing as the iterator in the for loop that is what u used to get the id -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>